  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'chatapp/styles/default.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script type="text/javascript">
    window.django = {
      'page_size': "{{ page_size }}",
      'ckeditor': {
        'ckeditor': "{{ request.scheme }}://{{ request.get_host }}{% static 'ckeditor/ckeditor/ckeditor.js' %}",
        'config': "{% static 'ckeditor/config.js' %}"
      }
    }
  </script>